@import "smart-grid";

@include reset();

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.container {
	@include wrapper();
}

.row {
	@include row-flex();
	justify-content: space-between;

}

.justify-content-center {
	justify-content: center;

}

.header {
	background: url(../img/first-bg.jpg) no-repeat center top;
	height: 600px;
	padding-top: 50px;
	padding-bottom: 210px;

}

.humburger {
	width: 24px;
	cursor: pointer;

}

span {
	background: #fff;
	display: block;
	height: 2px;
	margin-top: 6px;

}

div, p, input, form, button, span, a {
	box-sizing:border-box;
}

.offer {
	margin-top: 170px;
}

.offer__title {
	font-size: 52px;
	font-weight: 300;
	color: #fff;
	
}

.offer__title {
	text-align: center;
}

.offer__form {
	& input {
		background: #fff;
		width: 328px;
		border: 0;
		padding-left: 15px;
		padding-top: 9px;
		padding-bottom: 9px;
		font-size: 16px;
		display: block;
	}
	margin-top: 30px;
	display: flex;

}

.submit {
	background: #fd4f32;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	width: 120px;
	height: 40px;
	cursor: pointer;
	border: none;
	padding: 10px 0;
	box-sizing:border-box;
}