body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }
  @media screen and (max-width: 1100px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.header {
  background: url(../img/first-bg.jpg) no-repeat center top;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 210px; }

.humburger {
  width: 24px;
  cursor: pointer; }

span {
  background: #fff;
  display: block;
  height: 2px;
  margin-top: 6px; }

div, p, input, form, button, span, a {
  box-sizing: border-box; }

.offer {
  margin-top: 170px; }

.offer__title {
  font-size: 52px;
  font-weight: 300;
  color: #fff; }

.offer__title {
  text-align: center; }

.offer__form {
  margin-top: 30px;
  display: flex; }
  .offer__form input {
    background: #fff;
    width: 328px;
    border: 0;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    display: block; }

.submit {
  background: #fd4f32;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: none;
  padding: 10px 0;
  box-sizing: border-box; }
