body {

}

p {
	color: #fff;
	font-size: 15px;
	font-weight: 700;

}


.logo {
	height: 82px;

}

.header {
	background: url(..//img/bg1.jpg) no-repeat center top / cover;
}

.container {
	width: 950px;
	margin: 0 auto;

}

.icons {

}

.icons__item a {
	padding-left: 20px;
	text-decoration: none;
}
