body {

}

p {
	color: #fff;
	font-size: 15px;
	font-weight: 700;



}


.logo {
	width: 143px;
	height: 84px;

}

.header {
	background: url(..//img/bg1.jpg) no-repeat center top / cover;
}

.container {
	width: 950px;
	margin: 0 auto;