/* 1601px - 1920px */

@media screen and (max-width: 1920px) {
	body {
		overflow-x:hidden;
	}
}

/* 1369px - 1600px */

@media screen and (max-width: 1600px) {
	body {
		overflow-x:hidden;
	}
}

/* 961px - 1368px */

@media screen and (max-width: 1368px) {

	body {
		overflow-x:hidden;
	}

	/*
	.worth {
		font-size: 168px;
	}

	.worth__title {
		font-size: 36px;
		left: 11%;
	}

	.intro {
		font-size: 14px;
		left: 14%;
	}

	.next {
		font-size: 152px;
		width: 256px;
	}

	.btn {
		top: 72%;
	}

	.service {
		flex-direction: column;
	}

	.service__item {
		width: 100%;
		margin-bottom: 60px;
	}

	*/
}

/* 769px - 960px */

@media screen and (max-width: 960px) {

	body {
		overflow-x:hidden;
	}

	.next {
		display: none;
	}

	.credits {
		flex-direction: column;
	}

	.credits > * {
		margin-bottom: 40px;
	}

	.btn {
		left: 50%;
		top: 70%;

	}

	.service__item {
		width: 91%;
		margin-bottom: 60px;
	}

	.service {
		flex-direction: column;
	}

	.provide span {
		display: none;
	}

	
}

/* 481px - 768px */

@media screen and (max-width: 768px) {

	body {
		overflow-x:hidden;
	}
	
	.worth {
		font-size: 125px;
	}

	.brah {
		display: none;
	}

	.worth__title {
		font-size: 40px;
		left: 8%;
	}

	.intro {
		    font-size: 13px;
		    left: 13%;
		    top: 114%
	}

	.btn {
		top: 57%;
	}

	.service_num {
		text-align: center;
	}
}

/* 320px - 480px */

@media screen and (max-width: 480px) {

	body {
		overflow-x:hidden;
	}

	.worth__title {
		font-size: 31px;
	}

	.intro {
		left: 11%;
		width: 224px;
	}

	.palka {
		display: none;
	}

	.btn {
		left: 19%;
		top: 61%;
	}

	.service__item {
		    width: 83%;
	}
		
	.service_num {
	    left: 142px;
	}

	.provide h2 {
		font-size: 65px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 60px;
	}

}

/* 0px - 320px */

@media screen and (max-width: 320px) {
	
	body {
		overflow-x:hidden;
	}

	.worth__title {
		font-size: 26px;
	}

	.worth {
		font-size: 107px;
	}

	.intro {
		width: 194px;
		font-size: 12px;
	    top: 95%;
	}

	.scroll {
		height: 69px;
	}

}
