/* 1601px - */

@media screen and (min-width: 1368px) and (max-width: 1920px) {
	
	.powerfull img {
		display: block;
    	margin: 0 auto;
    	margin-top: 60px;
	}

	.powerfull p {
 	text-align: center;
    	
	}

	main {
		height: 1400px;
	}

	.header {
		height: 25vh;
	}
	
	.tasks__right {
    	margin-left: 275px;
	}

	.powerfull .circle_left {
    	left: 290px;
	}

	.powerfull .circle_right {
    	   right: 300px;
    }

	.clean {
    	left: 290px;
    	top: 320px;
	}

	.easy {
		   right: 297px;

	}

	.circle_right {
    	right: 119px;
	}
	
	.schedule {
    	margin-top: 201px;
	}

	
}

/* 961px - 1368px */

@media screen and (max-width: 1368px) and (min-width: 961px){

	.header {
    	height: 25vh;
	}

    .features__item:nth-child(1) {
    margin-right: 30px;

	}
	
	.features__item:nth-child(3) {
    margin-left: 30px;

	}

	.price {
    	padding-left: 20px;
    	padding-right: 20px;
	}

	.features__item {
    width: 250px;

	}

	.container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;

		padding-top: 78px;
    	padding-bottom: 0px;
    	padding-left: 0px;
	}
	
	.img_tasks {
		display: none;
	}

	.tasks__completed {
    	margin-left: 0px;
	}

	.hand {
		display: none;
	}

	.tasks__left {
    	width: 300px;
	}

	.tasks__completed {
		width: 300px;
	}
	
	.tasks__completed h4 {
		text-align: center;
    	margin-top: 50px;
	}

	.tasks__left h4 {
		text-align: center;
	}

	.tasks__completed img {
    	margin-top: 28px;
	}

	.tasks__right {
	    margin-left: 0px;
	    width: 300px;
	    text-align: center;
	}

	.necessity {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.necessity__text {
		text-align: center;
    	width: 550px;
    	margin-top: 40px;
    	margin-left: 0px;
	}

	.necessity__ipad {
		margin-left: 279px;
		margin-top: 50px;
	}
	
	.btn {
		padding-bottom: 50px;
	}
	
	.btn_right {

    	position: static;
    	left: 60px;
    	bottom: 0;
	}

	.powerfull p {
    	width: 600px;
	}

	.powerfull .circle_left {
		display: none;
	}

	.powerfull .circle_right {
		display: none;
	}
}

/* 769px - 960px */

@media screen and (max-width: 960px) {


}

/* 481px - 768px */

@media screen and (max-width: 768px) {


}
