body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    background-color: #849d8f;
    overflow-x: hidden;
}

.container {
    position: relative;
}

.background-body {
    position: absolute;
    top: -10px;
    left: 7%;
    z-index: -1;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 27px;
    box-sizing: border-box;

}

/* Header */
.header {
    margin: 0;
    padding: 0;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;

}

.header-right {
    display: flex;
    align-items: center;
    margin-top: -7px;
}

.header-left-list {
    display: flex;
    margin-top: -7px;

    list-style: none;
    align-items: center;

}

.header-left-list a {
    margin-left: 27px;

    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.btn {
    padding: 0;

    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #9db1a5;
    border: none;
    cursor: pointer;


}

.glass {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-image: url(../img/main/glass.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.enter {
    margin-left: 10px;
    padding-left: 44px;
    box-sizing: border-box;
    text-align: left;

    width: 93px;
    height: 32px;
    border-radius: 25px;

    background-image: url(../img/main/enter.png);
    background-position: 21% 50%;
    background-repeat: no-repeat;

}

.box {
    margin-left: 10px;
    padding-left: 44px;
    box-sizing: border-box;
    text-align: left;

    width: 117px;
    height: 32px;
    border-radius: 25px;

    background-image: url(../img/main/box.png);
    background-position: 16% 50%;
    background-repeat: no-repeat;


}

/* Offer */

h1 {
    position: absolute;
    z-index: 1;
    top: 377px;
    right: 212px;

    width: 710px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.offer__button {
    position: absolute;
    top: 545px;
    left: 50%;
    margin-left: -140px;
    z-index: 1;

    box-sizing: border-box;
    width: 280px;
    padding: 11px 40px 11px 40px;

    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 2px #ac1000;
    border-radius: 30px;
    box-shadow: 0px 3px 2px #aa5848;

    background-color: #ee5d3e;
    border: none;
    cursor: pointer;

}

/* Offer - Telephone*/

.telephone {
    position: absolute;
    right: 27px;
    top: 66px;
    text-align: right;
    color: #fff;
    font-weight: 700;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.telephone__time {
    font-size: 14px;

}

.telephone__tel {
    margin-top: 5px;

    font-size: 22px;

}

/* Section - Berry-free*/

.berry-free {
    display: flex;
    justify-content: space-between;
    margin-top: 580px;
    box-sizing: border-box;

    color: #fff;
    font-weight: 700;

}

.raspberry {
    padding: 20px 20px;
    width: 560px;
    height: 229px;
    box-sizing: border-box;

    background-image: url(../img/main/bg1.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}

.chocolate {
    padding: 20px 20px;
    width: 560px;
    height: 229px;
    box-sizing: border-box;

    background-image: url(../img/main/bg2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}

.raspberry__title,
.chocolate__title {
    font-size: 35px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.raspberry__text,
.chocolate__text {
    margin-top: 20px;
    font-size: 18px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.jam {
    display: block;
    margin-top: 47px;
    margin-left: auto;
    width: 166px;
    padding: 11px 20px 11px 20px;
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px 2px 2px rgba(172, 16, 0, .64);

    background-color: #ee5d3e;
    border: none;
    cursor: pointer;
}

/* Section - Ice Cream*/

.ice-cream {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.ice-cream span {
    font-size: 30px;

}

.ice-cream__block {
    position: relative;

    width: 267px;
    text-align: center;
}

.ice-cream__text {
    margin-top: 17px;

    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);

}

.hit-sales {
    position: absolute;
    top: 0;
    left: 0;

}

h2 {
    position: absolute;
    left: 0;
    bottom: 70px;

    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0px 3px rgba(49, 50, 53, .50);

}

/* Section - Advantages*/

.advantages {
    margin-top: 40px;
    padding: 30px 20px 30px 20px;
    padding-right: 0;
    box-sizing: border-box;

    background-image: url(../img/main/bg_wafflya.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}

.advantages__title {
    font-size: 24px;
    font-weight: 500;
}

.advantages__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.adventages__block_item {
    margin-top: 12px;
    width: 553px;
}

.adventages__block_item p {
    margin-left: 58px;
    margin-top: 15px;
    box-sizing: border-box;

    width: 476px;
}

.adventages__block_item:nth-child(1) {
    background-image: url(../img/main/icon_ice_cream.png);
    background-repeat: no-repeat;

}

.adventages__block_item:nth-child(2) {
    background-image: url(../img/main/cow.png);
    background-repeat: no-repeat;

}

.adventages__block_item:nth-child(3) {
    background-image: url(../img/main/leave.png);
    background-repeat: no-repeat;

}

.adventages__block_item:nth-child(4) {
    background-image: url(../img/main/degrees.png);
    background-repeat: no-repeat;

}

/* Section - Our blog*/

.blog {
    display: flex;
    justify-content: space-between;

}

.blog__left {
    margin-top: 40px;
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;

    width: 560px;
    height: 220px;

    background-image: url(../img/main/bg_berries.jpg);
    border-radius: 20px;
}

.blog__left_title {
    font-size: 16px;
    font-weight: 500;
}

.blog__left_text {
    font-size: 24px;
    font-weight: 700;

    width: 280px;

}

.blog__right {
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;

    width: 560px;
    height: 220px;

    background-image: url(../img/main/bg_poloska.jpg);
    border-radius: 20px;
}

.block__right_top {
    width: 550px;
    height: 210px;
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;

    background: #f8f7f4;
    border-radius: 20px;

}

.block__right_top p {
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;

}

.sending {
    margin-top: 40px;

}

.sending_item {
    padding: 12px;
    box-sizing: border-box;

    width: 365px;
    height: 42px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;

}

.button_sending {
    margin-left: 10px;

    width: 130px;
    padding: 11px 20px 11px 20px;
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px 2px 2px rgba(172, 16, 0, .64);

    background-color: #ee5d3e;
    border: none;
    cursor: pointer;
}

/* Section - Map*/

.map {
    margin-top: 40px;
}

.map_iframe {
    width: 100vw;
    height: 430px;
}

/* Section - Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 20px;

}

.social {
    display: flex;
    width: 267px;

}

.social__icon {
    padding-top: 7px;
    box-sizing: border-box;

    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #e6ebe9;
    border: 2px solid #c2cec7;

    text-align: center;
}

.fa {
    font-size: 20px;
    color: #849d8f;
}

.social__icon:nth-child(2),
.social__icon:nth-child(3),
.social__icon:nth-child(4) {

    margin-left: 10px;
}

.contacts {
    margin: 0 auto;
    margin-top: -10px;
    width: 560px;
}

.contacts a {
    display: block;
    margin-top: 10px;

    font-size: 13px;
    font-weight: 400;
    outline: 1px;
    color: #fff;
}

.contacts__block {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.contacts__block_left {
    width: 170px;
}

.contacts__block_right {
    width: 200px;
}

.made {
    width: 267px;
    box-sizing: border-box;
    padding-left: 75px;
}

.made p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.made a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-decoration: underline;
}