@font-face{

font-family: 'ptsansnarrow';

src: url("../fonts/ptsansnarrow.woff2") format("woff2"),
		 url("../fonts/ptsansnarrow.woff") format("woff");

	font-style: normal; 
	font-weight: normal; 

} 

@font-face{

font-family: 'ptsansnarrow';

src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
		 url("../fonts/ptsansnarrowbold.woff") format("woff");

	font-style: normal; 
	font-weight: 700; 

}

body {
	font-family: 'ptsansnarrow', sans-serif;
	
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	
	background: url(../img/main/background.png) top no-repeat;

}

p, h1, h2, h3, h4, h4, h6 {
	margin: 0;
	padding: 0;

}

li {
	list-style: none;
}

li, ul {
	margin: 0;
	padding: 0;

}

a {
	text-decoration: none;
	color: #fff;
}

/* Header menu */

.header {
	background: #000;
	color: #fff;
}

.container {

	display: flex;
	margin: 0 auto;

	width: 960px;

	justify-content: center;

	padding-left: 10px;
	padding-right: 10px;

}

.menu {
	display: flex;
	margin-left: 20px;

}

.menu li {

}

.menu a,
.auth a {
	display: block;
	padding: 29px 22px;
	transition: all 0.2s ease;
}

.menu a:hover,
.menu a:active,
.auth a:hover,
.auth a:active {
	background-color: #242424;
}

.auth {
	margin-left: auto;
	margin-right: 32px;

	max-width: 140px;
}

.auth a {
	position: relative;

	padding-left: 53px;
}

.auth-link::before {
	content: "";
	position: absolute;
	top: 32px;
	left: 25px;
	width: 16px;
	height: 16px;
	background-image: url(../img/main/login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	transition: all 0.2s ease;
}

.auth-link:hover::before,
.auth-link:active::before {
	opacity: 1;

}

/* Logo main */

.container img {
	display: block;

	margin: 0 auto;
	margin-top: 55px;

}

.advantages {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;

	width: 960px;
	margin-top: 76px;

}

.advantages_item:nth-child(1) {
	margin-right: 20px;

}

.advantages_item:nth-child(3) {
	margin-left: 20px;
	
}

.advantages_item {
	width: 300px;
	text-align: center;

}

.advantages_item h1 {
	color: #f7f4f1;
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;

}

.advantages_item p {
	margin-top: 28px;
	color: #f7f4f1;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;

	
}

.rhombus {
	margin: 0 auto;
	margin-top: 12px;

	width: 20px;
	height: 20px;

	background: #fff;
	border: none;

	transform: rotate(45deg);
}

/* News and Photo --> */


.newsphoto {
	margin: 0 auto;
	padding: 0 10px;
	margin-top: 80px;

	width: 960px; 
	
}

.newsphoto-container {
	margin: 0;
	padding: 45px 80px;

	display: flex;


	margin: 0 auto;
	background: url(../img/main/bg2.jpg) top center no-repeat;
}

.news {
	width: 50%;
	text-align: left;

}

.photogallery {
	width: 50%;
	text-align: left;
	padding-left: 97px;
	box-sizing: border-box;
}

.photogallery img {
	margin-top: 28px;

	border: 7px solid #fff;

}

.news h2 {
	font-size: 30px;
	color: #000;
	font-weight: 700;

} 

.news p {
	margin-top: 28px;
	line-height: 24px;

}

.news .time {
	text-transform: lowercase;
	margin-top: 0px;
	line-height: 24px;

}