body {
	font-family: 'PT Sans Narrow', 'Arial' sans-serif;
	
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	
}

li {
	list-style: none;
}

li, ul {
	margin: 0;
	padding: 0;

}

a {
	text-decoration: none;
	color: #fff;
}

.header {
	background: #000;
	color: #fff;
	padding-top: 27px;
	padding-bottom: 27px;
}

.container {

	display: flex;
	margin: 0 auto;

	width: 960px;
	padding-left: 10px;
	padding-right: 10px;


}

.menu {
	display: flex;
	margin-left: 20px;

}

.menu li {
	padding-right: 40px;
}

.auth {
	margin-left: auto;
	margin-right: 32px;
}

.auth:before {
	content: "";

	background: url(../img/main/login.png);
	background-size: 14px 14px;

}
