body {
	margin: 0 auto;
	padding: 0;
	
	font-family: 'Montserrat', sans-serif;
	background: #171717;

}

h1, h2, img {
	margin: 0;
	padding: 0;
	color: #fff;
}

.offer__conten {
	position: relative;
	z-index: 0;

}

h3 {
	margin: 0;
	padding: 0;
	font-size: 73px;
	font-weight: 900;
	text-transform: uppercase;
	color: #37aaa8;
	position: absolute;
	top: 168px;
    left: 125px;
    z-index: 1;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 73px;
	font-weight: 900;
	text-transform: uppercase;
	color: #8d1212;
	position: absolute;
	top: 165px;
    left: 120px;
    z-index: 0;
}

header {
	margin: 0 auto;
	width: 92%;
	height: 136px;
	align-items: center;
	justify-content: space-between;
}

.d-flex {
	display: flex;
}

.logo {

}

.navigation {
	margin-right: 22%;
	margin-bottom: 6px;
}

.navigation__list {
	list-style: none;

}

.navigation__item {
	margin-right: 40px;
}

.navigation__item a {
	font-size: 13px;
	font-weight: 300;
	color: #ffffff;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s ease;

}

.navigation__item a:hover {
	color: #23c8d2;
	
}


.auth {
	align-items: center;

}

.profile {
	font-size: 8px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.55);
	width: 75px;
	margin-left: 20px;
	text-transform: uppercase;
	
}

.profile span {
	font-size: 10px;
	font-weight: 400;
	color: #ffffff;
	line-height: 1.6em;
}

.leo {
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 50%;
	width: 58px;
	height: 58px;
	padding: 7px;

	box-sizing: border-box;
	justify-content: center;
	align-content: center;

	cursor: pointer;
}

.leo:hover {
	border: 1px solid #23c8d2;

}

.logo_music {
	margin-left: 15px;
	margin-bottom: 6px;
}

.play_music {
	margin-left: 20px;
	margin-bottom: 10px;
}

.offer {
	width: 46%;
	margin-left: 4%;
	box-sizing: border-box;
	background: #141414;
	padding-bottom: 4%;
}

.offer__content {
	padding-left: 10%;
	padding-top: 10%;

}

.offer__content h1 {
	font-size: 73px;
	font-weight: 900;
	text-transform: uppercase;
	
}

.take_music {
	width: 80%;
}

.offer__content h2 {
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1em;
}

.offer__content_button {
	margin-top: 5%;
}

.btn {
	color: #30e9a1;
	border-radius: 13.5px;
	border: 1px solid #30e9a1;
	background: #181818;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 400;
	padding: 6px 18px 6px 18px;
	margin-right: 16px;
	letter-spacing: 0.1em;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	color: #171717;
	border-radius: 13.5px;
	border: 1px solid #23c8d2;
	background: #30e9a1;
}

.more {
	margin-top: 8%;
	font-size: 12px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	background: #e930a1;
	border: none;
	border-radius: 29px;
	padding: 23px 40px;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 2px solid #e930a1;
}

.more:hover {
	margin-top: 8%;
	font-size: 12px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	background: #d12780;
	border: 2px solid #23c8d2;
}

.ragman {
	width: 46%;
	margin-right: 4%;
	box-sizing: border-box;
	background: url(../img/radiance.png) no-repeat;
	background-size: cover;
	padding-bottom: 4%;
	position: relative;
}

.together {

}

.ragman__img {
	width: 70%;
	position: absolute;
	bottom: 0;
	left: 10%;
	z-index: 1;

}

.circle {
	z-index: 0;
	position: absolute;
	width: 70%;
	right: 17%;
    top: 7%;
}

.element2 {
	z-index: 2;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 31%;
}

.element1 {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	top: 95px;
    left: -61px;
}

.stick {
	z-index: 0;
	position: absolute;
	width: 23%;
	top: 280px;
    left: -26px;
}

.triangle {
	z-index: 0;
	position: absolute;
	width: 15%;
	top: 71px;
    right: 82px;
}

/*Медиа-запросы*/

@media screen and (max-width: 1024px) {

.offer__content h1 {
	font-size: 60px;
}

h3, h4 {
	font-size: 60px;
}


h3 {
	top: 200px;
    left: 93px;
}

h4 {
	top: 198px;
    left: 89px;
}

.navigation {
	margin-bottom: -13px;
}

.offer__content_button {
	display: flex;
}

.circle {
	right: 17%;
    top: 31%;
}

}

@media screen and (max-width: 768px) {

.auth {
	margin-left: -53px;
}


}

@media screen and (max-width: 425px) {

.together {
	flex-wrap: wrap;
	flex-direction: column;
}

.offer {
	width: 100%;
}

.ragman {
	width: 100%;
}

}